cargo-features = ["edition2024"]

[package]
name = "zkos-wrapper"
version = "0.1.0"
edition = "2024"

[lib]
path = "src/lib.rs"

[[bin]]
name = "cli"
path = "src/main.rs"

[dependencies]
boojum = { git = "https://github.com/matter-labs/zksync-crypto.git", package="boojum", branch = "oh_mersenne_field" }
# boojum = { path = "../zksync-crypto/crates/boojum"}
zkos_verifier = {git="https://github.com/matter-labs/air_compiler.git", package="verifier", branch="oh_for_zkos_wrapper", features=["proof_utils"]}
# zkos_verifier = {path="../air_compiler/verifier", package="verifier", features=["proof_utils"]}
serde_json = { version = "*" }
serde = { version = "1", default-features = false, features = ["derive", "alloc"]}
clap = { version = "4.5.21", features = ["derive"] }

[dev-dependencies]
rand = "0.8.4"
hex = "0.4.3"
#zkos_verifier_worker = { path = "../air_compiler/worker", package="worker" }